<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lucky.kfirstsnowluckyadmin.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="org.lucky.kfirstsnowluckyadmin.model.Book">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="book" column="book" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="plane" column="plane" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,book,name,
        plane,date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from book
        where  id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="org.lucky.kfirstsnowluckyadmin.model.User">
        select
        <include refid="Base_Column_List"/>
        from book
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from book
        where  id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lucky.kfirstsnowluckyadmin.model.Book" useGeneratedKeys="true">
        insert into book
        ( id,book,name
        ,plane,date)
        values (#{id,jdbcType=INTEGER},#{book,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{plane,jdbcType=VARCHAR},#{date,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.lucky.kfirstsnowluckyadmin.model.Book" useGeneratedKeys="true">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="book != null">book,</if>
                <if test="name != null">name,</if>
                <if test="plane != null">plane,</if>
                <if test="date != null">date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="book != null">#{book,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="plane != null">#{plane,jdbcType=VARCHAR},</if>
                <if test="date != null">#{date,jdbcType=DATE},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.lucky.kfirstsnowluckyadmin.model.Book">
        update book
        <set>
                <if test="book != null">
                    book = #{book,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="plane != null">
                    plane = #{plane,jdbcType=VARCHAR},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=DATE},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lucky.kfirstsnowluckyadmin.model.Book">
        update book
        set
            book =  #{book,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            plane =  #{plane,jdbcType=VARCHAR},
            date =  #{date,jdbcType=DATE}
        where   id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
